{{- $LastModifierDisplayName := "" }}
{{- $LastModifierEmail := "" }}
{{- $Date := "" }}
{{- $dateFormat := site.Params.dateFormat | default ":date_medium" }}
{{- with .GitInfo }}
{{- with and (not site.Params.hideAuthorName) .AuthorName }}
{{- $LastModifierDisplayName = . }}
{{- end }}
{{- with and (not site.Params.hideAuthorEmail) .AuthorEmail }}
{{- $LastModifierEmail = . }}
{{- end }}
{{- with and (not site.Params.hideAuthorDate) .AuthorDate }}
{{- $Date = . | time.Format $dateFormat }}
{{- end }}
{{- else }}
{{- with and (not site.Params.hideAuthorName) .Params.LastModifierDisplayName }}
{{- $LastModifierDisplayName = . }}
{{- end }}
{{- with and (not site.Params.hideAuthorEmail) .Params.LastModifierEmail }}
{{- $LastModifierEmail = . }}
{{- end }}
{{- with and (not site.Params.hideAuthorDate) .Params.Date }}
{{- $Date = . | time.Format $dateFormat }}
{{- end }}
{{- end }}
{{- if $LastModifierDisplayName }}
<i class='fa-fw fas fa-user'></i> {{ with $LastModifierEmail }}<a href="mailto:{{ . }}">{{ end }}{{
  $LastModifierDisplayName }}{{ with $LastModifierEmail }}</a>{{ end }}
{{- end }}
{{- with $Date }}
<i class='fa-fw fas fa-calendar'></i> {{ . }}
{{- end }}
{{- partial "term-list.html" (dict
"page" .
"taxonomy" "categories"
"icon" "layer-group"
) }}


<footer>
  <hr>
  {{ with index .Site.Params "semantic-version" }}
  <p>
    Website Version: <code class="verbatim highlight">v{{ . }}</code>
  </p>
  {{ end }}
  <p>All Contents &copy; 2025 - {{ now.Format "2006" }} Aldo Zeroun. All rights reserved.</p>
  {{- partial "shortcodes/button.html" (dict
  "page" .
  "href" "https://patreon.com/AldoZeroun"
  "style" "grey"
  "icon" "fa-brands fa-patreon"
  "content" "Patreon"
  ) }}
  <p>
    {{ $basePath := .Site.Params.legalBasePath | default "legal" }}
    <a href="/{{ $basePath }}/copyrights">Copyrights</a> -
    {{ if .Site.Params.showLicensingLink }}
    <a href="/{{ $basePath }}/licensing">Licensing</a> -
    {{ end }}
    <a href="/{{ $basePath }}/sitemap">Sitemap</a> ::
    <a href="https://theoffices.ca">The Offices Home</a>
  </p>
</footer>
